Repository frequenz-floss/frequenz-api-microgrid, pull requests merged in 2023-06, with the labels that each got.

#63 Add dependabot config (and rename submodules)
  .github/dependabot.yml
  .gitmodules
Labels: part:tooling, type:enhancement

#69 Add missing leading `/` to `GetMicrogridMetadata()`'s HTTP endpoint
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#70 Update release notes
  RELEASE_NOTES.md
Labels: part:docs
