Repository frequenz-floss/frequenz-api-microgrid, pull requests merged in 2023-10, with the labels that each got.

#144 Add fuse component
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/fuse.proto
  proto/frequenz/api/microgrid/microgrid.proto
  proto/frequenz/api/microgrid/voltage_transformer.proto
Labels: part:docs, part:protobuf

#150 Rename RPC parameters to be more consistent with the RPC names
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#151 Add major version to package names
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/battery.proto
  proto/frequenz/api/microgrid/v1/common.proto
  proto/frequenz/api/microgrid/v1/ev_charger.proto
  proto/frequenz/api/microgrid/v1/fuse.proto
  proto/frequenz/api/microgrid/v1/grid.proto
  proto/frequenz/api/microgrid/v1/inverter.proto
  proto/frequenz/api/microgrid/v1/meter.proto
  proto/frequenz/api/microgrid/v1/microgrid.proto
  proto/frequenz/api/microgrid/v1/precharger.proto
  proto/frequenz/api/microgrid/v1/relay.proto
  proto/frequenz/api/microgrid/v1/sensor.proto
  proto/frequenz/api/microgrid/v1/voltage_transformer.proto
  py/frequenz/api/microgrid/v1/__init__.py
  pytests/test_microgrid.py
Labels: part:docs, part:tests, part:protobuf, part:python

#153 Change RPCs
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#142 Add overview and description of the Frequenz Microgrid API
  README.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf, cmd:skip-release-notes

#158 Bump repo-config to v0.6.2
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .gitignore
  MANIFEST.in
  mkdocs.yml
  pyproject.toml
  pytests/test_microgrid.py
Labels: part:tests, part:tooling, part:python
