Repository frequenz-floss/frequenz-api-microgrid, pull requests merged in 2023-05, with the labels that each got.

#45 Publish to PyPi using trusted publishing
  .github/workflows/ci.yaml
Labels: part:tooling, type:enhancement

#46 Update RELEASE_NOTES and README
  README.md
  RELEASE_NOTES.md
Labels: part:docs

#48 Clear release notes
  .github/RELEASE_NOTES.template.md
  RELEASE_NOTES.md
Labels: part:docs, part:tooling

#49 Extend the API for sensors
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/sensor.proto
Labels: part:docs, part:protobuf

#52 Update CODEOWNERS
  CODEOWNERS
Labels: part:tooling

#51 Add enum variant for setting bounds on AC reactive power
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#54 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#56 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#59 Extend component states for battery, EV charger, and inverter components
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/battery.proto
  proto/frequenz/api/microgrid/ev_charger.proto
  proto/frequenz/api/microgrid/inverter.proto
Labels: part:docs, part:protobuf

#60 Add RPC to set reactive power
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#58 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#62 Clear release notes and update contribution docs
  CONTRIBUTING.md
  RELEASE_NOTES.md
Labels: part:docs
