Repository frequenz-floss/frequenz-api-microgrid, pull requests merged in 2023-08, with the labels that each got.

#81 Update protobuf file headers
  proto/frequenz/api/microgrid/battery.proto
  proto/frequenz/api/microgrid/common.proto
  proto/frequenz/api/microgrid/ev_charger.proto
  proto/frequenz/api/microgrid/grid.proto
  proto/frequenz/api/microgrid/inverter.proto
  proto/frequenz/api/microgrid/meter.proto
  proto/frequenz/api/microgrid/microgrid.proto
  proto/frequenz/api/microgrid/sensor.proto
Labels: part:protobuf

#82 Revert "Update protobuf file headers"
  proto/frequenz/api/microgrid/battery.proto
  proto/frequenz/api/microgrid/common.proto
  proto/frequenz/api/microgrid/ev_charger.proto
  proto/frequenz/api/microgrid/grid.proto
  proto/frequenz/api/microgrid/inverter.proto
  proto/frequenz/api/microgrid/meter.proto
  proto/frequenz/api/microgrid/microgrid.proto
  proto/frequenz/api/microgrid/sensor.proto
Labels: part:protobuf

#85 Allow patch updates to for frequenz-api-common
  pyproject.toml
Labels: part:tooling, type:enhancement

#86 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#89 Update release notes for the v0.15.2 release
  RELEASE_NOTES.md
Labels: part:docs, type:enhancement

#87 Remove the `CanStreamData` RPC
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#97 Clean old files after migration to repo-config
  minimum-requirements-ci.txt
  setup.py
  tox.ini
Labels: part:tooling, type:tech-debt, part:python

#100 Update common API version in pyproject.toml
  pyproject.toml
Labels: part:tooling

#99 Use Location from the common API specs
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#102 Rename RPC StreamComponentData to SubscribeComponentData
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#103 Rename RPCs that act on Components
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#104 Add relays and precharge components
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/microgrid.proto
  proto/frequenz/api/microgrid/precharge_module.proto
  proto/frequenz/api/microgrid/relay.proto
Labels: part:docs, part:protobuf

#108 Upgrade to repo-config v0.5.2
  .cookiecutter-replay.json
  .editorconfig
  .github/labeler.yml
  .github/workflows/release-notes-check.yml
  MANIFEST.in
  py/conftest.py
  pyproject.toml
Labels: part:tooling, type:enhancement, part:python, cmd:skip-release-notes
