Repository frequenz-floss/frequenz-api-microgrid, pull requests merged in 2024-04, with the labels that each got.

#231 Allow clients to specify validity durations for bounds
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#233 Change the polarity of reactive power
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf, scope:breaking-change

#235 Fix python dependencies for frequenz-api-common v0.6.0
  mkdocs.yml
  pyproject.toml
Labels: part:tooling

#236 Support user-provided lifetimes for set active/reactive power RPCs
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#243 Make Dependabot check for updates monthly on Monday
  .github/dependabot.yml
Labels: part:tooling, type:tech-debt
