Repository frequenz-floss/frequenz-api-microgrid, pull requests merged in 2025-07, with the labels that each got.

#327 dependabot: Update all package ecosystems to monthly schedule
  .github/dependabot.yml
Labels: part:tooling

#335 Rename fields in `ListElectricalComponentConnectionsRequest`
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#336 Unify power setting RPCs into new RPC `SetElectricalComponentPower`
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#338 Revert validity_duration of `AddComponentBoundsRequest` to 5 seconds
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#341 Rename `valid_until` fields to `valid_until_time`
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
Labels: part:docs, part:protobuf

#346 Move changes to `v1alpha18` and revert `v1`
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1/microgrid.proto
  proto/frequenz/api/microgrid/v1alpha18/microgrid.proto
  py/frequenz/api/microgrid/v1/__init__.py
  py/frequenz/api/microgrid/v1alpha18/__init__.py
  pytests/test_microgrid_v1.py
  pytests/test_microgrid_v1alpha18.py
Labels: part:docs, part:tests, part:protobuf, part:python

#347 Add `v1alpha19` API and rename `ComponentTelemetryStreamFilter`
  RELEASE_NOTES.md
  proto/frequenz/api/microgrid/v1alpha19/microgrid.proto
  py/frequenz/api/microgrid/v1alpha19/__init__.py
  pytests/test_microgrid_v1alpha19.py
Labels: part:docs, part:tests, part:protobuf, part:python
